/* ------  css-demo --------*/

/*  ---- Color Scheme ---- 
Main Color - #72Eb9C
Secondary - #732C46 
Tertiary - #F6AA6E
OTHERS GREENS -  #467359, #2C592A

*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


body {
  font-family: "Chakra Petch", sans-serif;
}

main{

}

 header.primary{ 
  background-color: #732C46;
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
}

 