/*-----Final Draft-----*/

/*-----Theme Colors-----
Main Color - #03588C
Secondary - #A4A5A6
Tertiary - #038C7F

Pulled from Space X Logo that was provided.
*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before, 
  *:after {
    box-sizing: inherit;
  }

/* ---------- Utility Classes ---------- */

.container{
  width: 80vw;
  max-width: 960px;
  margin: 40px auto; 
  ;
}

.img-right{
  float: right;
  border: 1px solid #467359;
  border-radius: 20px;
  padding: 5px;
  margin: 10px 0 10px 20px;
}

.img-left{
  float: left;
  border: 1px solid #467359;
  border-radius: 20px;
  padding: 5px;
  margin: 10px 20px 10px 0; /*Top, Right, Bottom, Left*/
}

.img-center{
  display: block;
  margin: 20px auto;
  border: 1px solid #467359;
  border-radius: 20px;
  padding: 5px;
}

/* ---------- Responsive Images ---------- */
img{
    max-width: 100%;
}

body {
  font-family: "Orbitron", serif;
  margin: 0;  
}

header.primary{
background-color: #000000;
color: #FFFFFF;
padding: 10px 20px 10px 10px;
display: flex;
flex-direction: row;
align-items: center;
}

header.primary a{
    width: 30%;
    height: auto;
}
header.primary nav{
    width: 70%;
}
header.primary nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: 1.6rem;
    list-style-type: none;
    padding:0;
}

header.primary nav ul a{
    text-decoration: none;
    color: #FFFFFF;
}

header.primary nav ul li a:hover{
    text-decoration: underline;
}

section#configurations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    padding: 40px 40px;
    border-top: 3px solid #467359;
    border-bottom: 3px solid #467359;
}

section#configurations article.configuration{
  background-color: #467359;
  font-size: .7rem;
  width: 33%;
}


footer{
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 1px;
}









/* ------ Media Queries ------ */

@media screen and (max-width: 560px) {    
    header.primary{
        flex-direction: column;
        }
        
        header.primary a{
            
            width: 100%;
            height: auto;
        }
        header.primary nav{
            width: 70%;
        }
        header.primary nav ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
          
        }

        section#configurations{
          flex-direction: column;
          align-items: center;
      }

      section#configurations article.configuration{
        width: 100%;
      }
}